.overlay {
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: white;
    font-size: 13px;
    color:black;
    text-align: center;
    font-weight: bold;
    display:block;
}

.overlaycontain {
    width:fit-content;
    height: fit-content;
    position:absolute;
    padding-top: 84px;
    padding-left: 18px;
}

.text {
    position:absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
}
.notediv {
    float: left;
    width: 80px;
    height: 100px;
    /* border: solid 1px; */
}
.bigdiv {
    position:absolute;
}
.delete{
    border:hidden;
}